  <!-- Nav Bar Start -->
  <div class="navbar navbar-expand-lg bg-light navbar-light" style="position: fixed !important;background-color: white !important;">
    <div class="container-fluid">
        <a routerLink="HOME" class="navbar-brand" style="color: #EF233C;">LeGate</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a  [routerLink]="item.pageMenuCode" class="nav-item nav-link active" *ngFor="let item of pages" >{{item.pageMenuName}}</a>
              
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<!-- Nav Bar End -->
