  <!-- Banner Start -->
  <div class="banner wow zoomIn" data-wow-delay="0.1s">
    <div class="container w-100">
      <div class="row">
          <div class="col-md-6">
            <h2  style="color: white;font-weight: 800;float: left;" >Resources</h2>
            <p class="text-left" style="float: left;color: white;">I find it generally more useful to use IntersectionObserver for styling things based on scroll position. With it, you can do things like, “has this element been scrolled into view or beyond,” which is generically useful and can be used for scrolled-away-from-top stuff too. </p>
          </div>
          <div class="col-md-6">
            ><img src="../../assets/img/blog-1.jpg" alt="" width="100%" height="auto" style="border-radius: 25%;border-color: white;border:solid white 10px;offset-rotate: 50;">
          </div>
      </div>
    </div>
</div>
<!-- Banner End -->       
  